<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVQpxms8fAT26L2vT-B-oSIz52Y-E_07k</string>
	<key>GCM_SENDER_ID</key>
	<string>231886046583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.candleLabApp</string>
	<key>PROJECT_ID</key>
	<string>candlelab-c846c</string>
	<key>STORAGE_BUCKET</key>
	<string>candlelab-c846c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:231886046583:ios:b8ec47ab1105c24ed34d72</string>
</dict>
</plist>
